.assignUserForm {
    width: 70%;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.assignExamButton {
    width: fit-content;
}

.generatedLinkForm {
    display: flex;
    gap: 20px;
}