<form
  class="assignUserForm"
  [formGroup]="assignExamForm"
  (submit)="assignExam(assignExamForm.value, generatedLinkForm.value)"
>
  <mat-form-field appearance="fill">
    <mat-label>Student Email</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      matInput
      [formControl]="studentsControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let student of filteredStudents | async"
        [value]="student.firstName + student.lastName"
        (onSelectionChange)="getUserId(student.uid)"
      >
        {{ student.email }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Duration in minutes</mat-label>
    <input matInput formControlName="duration" placeholder="20" />
  </mat-form-field>
  <form [formGroup]="generatedLinkForm" class="generatedLinkForm">
    <mat-form-field appearance="fill">
      <mat-label>Scheduled Time From</mat-label>
      <input
        matInput
        formControlName="scheduledTimeFrom"
        placeholder="12:00PM"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Scheduled Time To</mat-label>
      <input matInput formControlName="scheduledTimeTo" placeholder="2:00PM" />
    </mat-form-field>
  </form>
  <div class="assignExamOptions">
    <button
      mat-raised-button
      color="primary"
      class="assignExamButton"
      type="submit"
    >
      Assign Exam
    </button>
  </div>
</form>
