<h1>Create new question</h1>
<mat-card>
  <mat-form-field>
    <mat-label>Question body</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Level</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sub-Category</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mark</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Expected Time</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Created by</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Created At</mat-label>
    <input matInput />
  </mat-form-field>
  <button mat-raised-button color="primary" class="submitButton">
    Create Question
  </button>
</mat-card>
