<h1>Create new question</h1>
<mat-card>
  <form
    class="createQuestionForm"
    [formGroup]="questionForm"
    (ngSubmit)="onSubmit(questionForm.value)"
  >
    <mat-form-field>
      <mat-label>Question body</mat-label>
      <textarea matInput formControlName="name"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Level</mat-label>
      <mat-select formControlName="levelId">
        <mat-option *ngFor="let level of levels" [value]="level.id">
          {{ level.body }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="typeId">
        <mat-option *ngFor="let type of types" [value]="type.id">
          {{ type.body }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <input matInput formControlName="category" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sub-Category</mat-label>
      <input matInput formControlName="subCategory" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mark</mat-label>
      <input matInput formControlName="mark" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Expected Time in seconds</mat-label>
      <input matInput formControlName="expectedTime" placeholder="20" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Created by</mat-label>
      <input matInput formControlName="createdBy" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Created At</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="createdAt" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="submitButton"
      type="submit"
    >
      Create Question
    </button>
  </form>
</mat-card>
