<h1>Questions</h1>
<ul>
  <li *ngFor="let question of questionList; index as i">
    <mat-card>
      <mat-card-header> {{ i + 1 }}){{ question.body }} </mat-card-header>
      <mat-card-content>
        <ul>
          <mat-radio-group
            *ngFor="let choice of question.choices"
            name="{{ question.id }}"
            color="primary"
          >
            <mat-radio-button value="{choice.id}">{{
              choice.body
            }}</mat-radio-button>
          </mat-radio-group>
        </ul>
        <button mat-mini-fab color="accent">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </li>
</ul>
