ul {
    list-style-type: none;
}

.mat-card {
    margin-bottom: 20px;
}

mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.answerForm {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 20px;
}