ul {
    list-style-type: none;
}

mat-card {
    margin-bottom: 20px;

}

.questionOptions {
    display: flex;
    justify-content: space-between;
}

.questionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}