<h1>Questions</h1>
<div *ngIf="questions">
  <ul>
    <li *ngFor="let question of questions; index as i">
      <mat-card>
        <mat-card-header>
          <div class="questionHeader">
            {{ i + 1 }}){{ question.name }}
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="addAnswer(question.key)">
                Add Answer
              </button>
              <button mat-menu-item (click)="deleteQuestion(question.key)">
                Delete Answer
              </button>
              <button mat-menu-item (click)="addQuestionToExam(question.key)">
                Add question to exam
              </button>
            </mat-menu>
          </div>
        </mat-card-header>
        <mat-card-content>
          <ul *ngFor="let answer of question.answers; index as j">
            <li>{{ j + 1 }}){{ answer.name }}</li>
          </ul>
          <div *ngIf="editingQuestionKey === question.key">
            <button mat-icon-button color="primary" (click)="exitAnswerForm()">
              <mat-icon>close</mat-icon>
            </button>
            <app-answer-form [question]="question"></app-answer-form>
          </div>
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
  <button
    mat-button
    color="primary"
    routerLink="/questionform"
    routerLinkActive="active"
  >
    Add Question
  </button>
  <mat-paginator
    [length]="totalQuestionsCount"
    [pageSize]="currentPageSize"
    [pageSizeOptions]="pageSize"
    aria-label="Select page"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
