<div class="navbar">
  <h1 class="">Exam Application</h1>
  <div>
    <a mat-button routerLink="/registration" routerLinkActive="active">
      <mat-icon aria-hidden="false">app_registration</mat-icon>
      <div>Registaration</div>
    </a>
    <a mat-button routerLink="/examForm" routerLinkActive="active">
      <mat-icon aria-hidden="false">edit</mat-icon>
      <div>Create an exam</div>
    </a>
    <a mat-button routerLink="/questionBank" routerLinkActive="active">
      <mat-icon aria-hidden="false">list</mat-icon>
      <div>Question Bank</div>
    </a>
    <a mat-button routerLink="/roleForm" routerLinkActive="active">
      <mat-icon aria-hidden="false">rule</mat-icon>
      <div>Create Role</div>
    </a>
  </div>
</div>
