<h1>Create Exam</h1>
<form
  class="examForm"
  [formGroup]="examForm"
  (ngSubmit)="onSubmit(examForm.value)"
>
  <mat-form-field appearance="fill">
    <mat-label>Exam Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Passing score</mat-label>
    <input matInput formControlName="passingScore" placeholder="70%" />
  </mat-form-field>
  <div class="examFormOptions">
    <a
      mat-raised-button
      color="primary"
      class="addQuestionButton"
      (click)="addQuestionForm()"
    >
      Add Questions
    </a>
    <button
      mat-raised-button
      color="primary"
      class="submitButton"
      type="submit"
    >
      Create Exam
    </button>
  </div>
</form>
