<mat-card class="examQuestionCard" *ngIf="question">
  <mat-card-header>
    <mat-card-title>{{ question.name }}</mat-card-title>
    <mat-card-subtitle>{{ second }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-radio-group class="answers">
      <mat-radio-button
        *ngFor="let answer of question.answers"
        [value]="answer"
        class="answer"
        [disabled]="examState"
        (change)="answerValue($event)"
      >
        {{ answer.name }}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      mat-button
      (click)="nextQuestion()"
      *ngIf="this.questions?.length !== 1"
    >
      NEXT
    </button>
    <button
      mat-button
      (click)="submitExam()"
      *ngIf="this.questions?.length === 1"
    >
      SUBMIT
    </button>
  </mat-card-actions>
</mat-card>
